
body {
	background-color: #F6F6F6;
}
h2{
	margin-bottom: 6.25vw;
	
}
p{
	color:#3B3B3B;
}
.after{
	text-align: right;
}
.nav{
	box-shadow: 0px 1.0625vw 3.125vw rgba(0, 0, 0, 0.15);
}


.popup h2{
color: #2EAFE0;
text-align: left;
}

.underteam {
color:#555555;
}

.iconx {
	cursor:pointer;
}
#frame{
	position: fixed;
	top:0;
	left:0;
	width:100vw;
	display: none;
	z-index: 900;
	height:100%;
	overflow-y: scroll;

	
}


.blur{
	-webkit-filter: blur(5px);
     -moz-filter: blur(5px);
       -o-filter: blur(5px);
      -ms-filter: blur(5px);
          filter: blur(5px);
}
.noscroll {
	overflow-y: hidden;
	
}

.scroll {
	overflow-y: scroll;
}

.menu {
	padding-top: 6.25vw;
}



@media all and (min-width: 500px){


	.menu > p{
		margin-top:0;
	}
	footer{
	margin-top:0;
		padding-top: 7.8vw;
}

}